/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --font-family: 'IBM Plex mono';
  --bg-color: #000028;
  --section-title-color: #FF0070;
  --subtitle-color: #000028;
  --color-text: #F1B2CE;
  --color-main-title: #DB00FF;
  --accent-color: #FF0070;
  --weight-bold: bold;
  --weight: normal;
  --cover-img: url(./images/cover-image-dark.png);
  --rec: block;
}

:root {
  --font-family: 'IBM Plex mono';
  --bg-color: #000028;
  --section-title-color: #FF0070;
  --subtitle-color: #000028;
  --color-text: #F1B2CE;
  --color-main-title: #DB00FF;
  --accent-color: #FF0070;
  --weight-bold: bold;
  --weight: normal;
  --cover-img: url(./images/cover-image-dark.png);
  --rec: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-family: 'IBM Plex mono';
    --bg-color: #000028;
    --section-title-color: #FF0070;
    --subtitle-color: #000028;
    --color-text: #F1B2CE;
    --color-main-title: #DB00FF;
    --accent-color: #FF0070;
    --weight-bold: bold;
    --weight: normal;
    --cover-img: url(./images/cover-image-dark.png);
    --rec: block;
  }
}