/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme_light {
  --font-family: 'IBM Plex mono';
  --bg-color: #FFF1F7;
  --section-title-color: #353430;
  --subtitle-color: #353430;
  --color-text: #353430;
  --color-main-title: #FFC2E6;
  --accent-color: #FF8DCB;
  --weight-bold: bold;
  --weight: normal;
  --cover-img: url(./images/cover-image-light.png);
  --rec: none;
}

.page.theme_light {
  --font-family: 'IBM Plex mono';
  --bg-color: #FFF1F7;
  --section-title-color: #353430;
  --subtitle-color: #353430;
  --color-text: #353430;
  --color-main-title: #FFC2E6;
  --accent-color: #FF8DCB;
  --weight-bold: bold;
  --weight: normal;
  --cover-img: url(./images/cover-image-light.png);
  --rec: none;
}

@media (prefers-color-scheme: light) {
  :root {
      --font-family: 'IBM Plex mono';
      --bg-color: #FFF1F7;
      --section-title-color: #353430;
      --subtitle-color: #353430;
      --color-text: #353430;
      --color-main-title: #FFC2E6;
      --accent-color: #FF8DCB;
      --weight-bold: bold;
      --weight: normal;
      --cover-img: url(./images/cover-image-light.png);
      --rec: none;
  }
}
