/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: 'IBM Plex mono';
  --bg-color: #000028;
  --section-title-color: #353430;
  --subtitle-color: #000028;
  --color-text: #F1B2CE;
  --color-main-title: #DB00FF;
  --accent-color: #FF0070;
  --weight-bold: bold;
  --weight: normal;
  --cover-img: url(../images/cover-image/png);
  --rec: block;
  --button-border: rgba(255, 0, 112, 0.4);
}
