/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: 'IBM Plex mono';
  --bg-color: #000028;
  --section-title-color: #353430;
  --subtitle-color: #000028;
  --color-text: #F1B2CE;
  --color-main-title: #DB00FF;
  --accent-color: #FF0070;
  --weight-bold: bold;
  --weight: normal;
  --cover-img: url(/images/cover-image/png);
  --rec: block;
  --font-size-title-desk: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}
